<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<properties resource="config/database.properties"/>
 	<typeAliases>
 		<typeAlias type="first.market.kurlyty.vo.ProductVO" alias="product"/>
 		<typeAlias type="first.market.kurlyty.vo.CategoryMainVO" alias="categoryMain"/>
 		<typeAlias type="first.market.kurlyty.vo.CategorySubVO" alias="categorySub"/>
 		<typeAlias type="first.market.kurlyty.user.vo.UserVO" alias="user"/>
 		<typeAlias type="first.market.kurlyty.user.vo.UserDetailsVO" alias="userDetails"/>
 		<typeAlias type="first.market.kurlyty.user.vo.UserAddressList" alias="userAddressList"/>
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminVO" alias="admin"/>
 		<typeAlias type="first.market.kurlyty.user.vo.Board_noticeVO" alias="noticeList"/> <!-- bk -->
 		<typeAlias type="first.market.kurlyty.user.vo.faqVO" alias="regular"/> <!--  bk -->
 		<typeAlias type="first.market.kurlyty.user.vo.PersonalQnaVO" alias="personalQna"/> <!--  sungy -->
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminUserVO" alias="adminUser"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminNoticeVO" alias="notice"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminFAQVO" alias="faq"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminQnaVO" alias="qna"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminBannerVO" alias="banner"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminTermsAgreementVO" alias="terms"/> 
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminTermsAgreementVO" alias="agreeList"/>
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminCategoryMainVO" alias="category1"/>
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminCategorySubVO" alias="category2"/>
 		<typeAlias type="first.market.kurlyty.admin.vo.AdminCategoryGoodsVO" alias="category3"/>
 		<typeAlias type="first.market.kurlyty.user.vo.user_address_listVO" alias="addressListVO"/>
 		<typeAlias type="first.market.kurlyty.user.vo.ItemPageVO" alias="itemPage"/> <!-- sungy -->
		<typeAlias type="first.market.kurlyty.user.vo.WithdrawInfoVO" alias="withdraw"/> <!-- sungy -->
		<typeAlias type="first.market.kurlyty.user.vo.User_order_listVO" alias="orderListVO"/> 
 		<typeAlias type="first.market.kurlyty.user.vo.Board_Pagination" alias="Board_Pagination"/> 
 		<typeAlias type="first.market.kurlyty.user.vo.ShippingVO" alias="shippingVO"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="config/mappings/membership-mapping.xml"/>
 		<mapper resource="config/mappings/category-mapping.xml"/>
 		<mapper resource="config/mappings/user-mapping.xml"/> <!-- sungy -withdraw in processing -->
 		<mapper resource="config/mappings/admin-mapping.xml"/>
 		<mapper resource="config/mappings/board_notice-mapping.xml"/> <!-- bk -->
 		<mapper resource="config/mappings/regular-mapping.xml"/>	<!-- bk -->
 		<mapper resource="config/mappings/personalQna-mapping.xml"/> <!-- sungy -->
 		<mapper resource="config/mappings/user_address_list-mapping.xml"/>
 		<mapper resource="config/mappings/order-mapping.xml"/>
		<mapper resource="config/mappings/itemPage-mapping.xml"/> <!-- sungy -->
		<mapper resource="config/mappings/withdraw-mapping.xml"/> <!-- sungy -->
		<mapper resource="config/mappings/user_order_list-mapping.xml"/>
		<mapper resource="config/mappings/point-mapping.xml"/>
		<mapper resource="config/mappings/Review-mapping.xml"/>
		
 	</mappers>
 </configuration>