@charset "UTF-8";

.board-header-container {
    padding-bottom: 38px;
    font-family: Noto Sans;
}
    
.board-item-container.product {
    width: 1010px;
} 
.board-item-container {
    position: relative;
    font-family: Noto Sans;
    border-top: 2px solid #333;
}
.goods_board .board_pg_area {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}
.board-item-container .inquiry-board-header {
    display: table;
    table-layout: fixed;
    border-bottom: 1px  solid #333;
}
.board-item-container .inquiry-board-header>div {
    display: table-cell;
    text-align: center;
    padding: 18px 0 20px;
    width: 100px;
    font-family: Noto Sans;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: #333;
}    

.board-item-container .inquiry-board-header {
    display: table;
    table-layout: fixed;
    border-bottom: 1px  solid #333;
}

.board-item-container .board-list, 
.board-item-container .inquiry-notice-list {
    position: relative;
}


.xans-product-additional table.tbl_newtype1 td {
    height: auto;
    padding: 22px 3px 23px;
}
.txt_sub.text_medium {
    color: #999;
}

.txt_sub.kurlyPurple {
    color: #5f0080;
}
.paging-navigation {
    padding-top: 20px;
    text-align: center;
}
.paging-navigation>button:disabled {
    border-color: #eee;
    cursor: default;
}
.paging-navigation>button {
    display: inline-block;
    width: 44px;   
    height: 44px;
    padding: 0;
    margin: 0;
    background: 0;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
}
button {
    outline: none;
}

.btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}
.board-inquiry-area .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 44px;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: 1;
}

button {
    outline: none;
}
utton {
    outline: none;
}


button, select {
    text-transform: none;
}
button {
    overflow: visible;
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}
.btn.active span{
color: #fff;
}

.btn {
    width:50%;
    height: 52px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.board-inquiry-area .btn span {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
 
.paging-navigation>button:disabled.paging-prev {
    margin-right: 12px;
    background-image: url(https://res.kurly.com/kurly/img/2021/direction_prev_disabled_24_44_gray.svg);
}

 
.paging-navigation>button:disabled.paging-next {
    margin-right: 12px;
    background-image: url(https://res.kurly.com/kurly/img/2021/direction_next_disabled_24_44_gray.svg);
} 
.paging-navigation>button.paging-prev {
    margin-right: 12px;
    background: url(https://res.kurly.com/kurly/img/2021/direction_prev_24_44_black.svg) 50% 0 no-repeat;
}
.paging-navigation>button.paging-next {
    background: url(https://res.kurly.com/kurly/img/2021/direction_next_24_44_black.svg) 50% 0 no-repeat;
}

.paging-navigation>button:hover {
    border-color: #333;
}

.xans-product-additional table.xans-board-listheader {
    margin: 15px 0 0;
    color: #353535;
    font-size: 12px;
    line-height: 140%;
    table-layout: fixed;
}
.xans-board-listheader {
    border-top: 2px solid #522772;
    font-size: 13px;
    line-height: 100;
}
.xans-product-additional table.tbl_newtype1 td {
    height: auto;
    padding: 22px 3px 23px;
}
.xans-product-additional table.xans-board-listheaderd td {
    padding: 25px 3px 23px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    vertical-align: middle;
    height: 65px;
}
.goods_board .tbl_newtype1 .subject {
    padding-left: 50px;
    text-align: left;
}
.xans-product-additional table.tbl_newtype1 td.user_grade {
    padding: 22px 0 23px;
    text-align: center;
}
.xans-product-additional .btnArea .bhs_button {
    margin: 20px 0 20px 5px;
}
.bhs_button {
    width: 150px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #795b8f;
    border: 1px solid #5f0080;
    color: #fff;
    font-size: 15px;
    float: right;
    margin-left: 2px;
    font-size: 13px;
}
.xans-product-additional div.board .btnArea a {
    display: inline-block;
}
.goods_board .tbl_newtype1 .time {
    color: #939393;
}
.grade_comm .grade2 {
    border: 1px solid #8c4cc3;
    background-color: #8c4cc4;
}
.xans-product-additional div.board .btnArea {
    padding: 10px 0;
    text-align: right;
    width: 100%;
    display: table;
}

.xans-product-additional div.board>.btnArea {
    border-top: 1px solid #6a3664;
}
.xans-product-additional div.board .btnArea {
    text-align: right;
}
        /* 제목부분 글줄임처리 */
        .goods_board .tbl_newtype1
        .xans-product-additional table.tbl_newtype1 td{padding:20px 3px 22px;line-height:20px}
        .xans-product-additional table.tbl_newtype1 td .snd{display:none}
        .xans-product-additional .on table.tbl_newtype1 td .fst{display:none}
        .xans-product-additional .on table.tbl_newtype1 td .snd{display:block}
        /* 고객후기_제목 */
        .goods_board .tbl_newtype1 .subject{padding-left:50px;text-align:left;}
        .goods_board .tbl_newtype1 .subject .tit_notice{padding-left:20px;background:url(/shop/data/skin/designgj/images/goods/ico_re.gif) no-repeat 0 3px}
        .goods_board .tbl_newtype1 .time{color:#939393}
        /* 고객후기_상세 */
        .goods_board .name_purchase .name{display:block;font-weight:700;font-size:12px;color:#514859;line-height:18px}
        .goods_board .name_purchase .package{padding-top:2px;font-size:14px;color:#000;line-height:20px}
        .goods_board .review_photo{padding-top:30px;line-height:16px}
        .goods_board .review_view{display:none;padding:10px 10px 11px;border-top:1px solid #e3e3e3;}
        .goods_board .review_view .inner_review{width:100%;padding:20px 9px 9px;line-height:25px}
        .goods_board .review_notice .name_purchase{display:none}
        .goods_board .review_notice .review_photo{display:none}
        .goods_board .goods-review-grp-btn .styled-button{height:32px}
        /* 고객후기 없을때 */
        .goods_board .no_data{padding:30px;text-align:center}
        /* 페이징영역 */
        .goods_board .board_pg_area{clear:both;text-align:center;padding-bottom:15px}
    
 .layout-pagination-button:first-child {
    border-left: 1px solid #ddd;
}
.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}
.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}
.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}
.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}
.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}
.layout-pagination-number:hover, .layout-pagination-number.__active {
    background-color: #f7f7f7;
    color: #5f0080;
}
.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 34px;
}
.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}
.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}

<!-- -->

.alert-window{
width:450px;
position: absolute;
    z-index: 9999;
    background-color: #fff;
   	top: 0;
    bottom: 0;
    right:0;
    left: 0;
    margin: auto;
}

.inquiry-modal .modal-body .inquiry-form .inquiry-row .input-placeholder {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 16px 0;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    cursor: pointer;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .input-comm {
    position: relative;
}

.inquiry-modal .modal-body .inquiry-form .inquiry-row .input-comm input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 1px;
    font-size: 14px;
    line-height: 20px;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-text-area textarea {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    min-height: 226px;
    padding: 16px 16px 0;
    resize: none;
    border: 0;
    vertical-align: top;
}
.type_form textarea {
    height: auto;
    padding-top: 13px;
    resize: none;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.dimmed-layer {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 500;
}
.dimmed-layer .inner-layer {
    min-width: 320px;
    min-height: 620px;
}
.inquiry-modal {
    overflow: hidden;
    width: 800px;
    height: 690px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
}
element.style {
    margin-top: 106px;
}
.inquiry-modal {
    overflow: hidden;
    width: 800px;
    height: 690px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
}
.inquiry-modal .modal-header {
    position: relative;
    padding-bottom: 22px;
    border-bottom: 1px solid #f4f4f4;
}
.inquiry-modal .modal-header strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #333;
}

.inquiry-modal .modal-header .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background: url(https://res.kurly.com/kurly/ico/2021/close_32_32_gray.svg) 0 0 no-repeat;
}
button {
    outline: none;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.screen_out {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
}
.screen_out {
    display: block;
    left: -9999px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.inquiry-modal .modal-header .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background: url(https://res.kurly.com/kurly/ico/2021/close_32_32_gray.svg) 0 0 no-repeat;
}

.inquiry-modal .modal-header {
    position: relative;
    padding-bottom: 22px;
    border-bottom: 1px solid #f4f4f4;
}

.inquiry-modal .modal-body {
    height: 500px;
    overflow-y: auto;
}
.inquiry-modal .modal-body .product-item {
    position: relative;
    overflow: hidden;
    padding: 16px 0;
    border-bottom: 1px solid #f4f4f4;
}
.inquiry-modal .modal-body .product-item .frame-img {
    overflow: hidden;
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 4px;
    background-color: #fafafa;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.inquiry-modal .modal-body .product-item span {
    overflow: hidden;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inquiry-modal .modal-body .product-item .cell {
    display: flex;
    align-items: center;
}
.inquiry-modal .modal-body .product-item div {
    float: right;
    width: 640px;
    height: 72px;
    padding-right: 20px;
}

.inquiry-modal .modal-body .inquiry-form {
    padding-top: 15px;
}
.inquiry-modal .modal-body {
    height: 500px;
    overflow-y: auto;
}
.inquiry-modal .modal-footer {
    border-top: 1px solid #f4f4f4;
    text-align: center;
    padding-top: 20px;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row>span {
    width: 100px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 44px;
    font-weight: 700;
    color: #333;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-cell {
    width: 640px;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-text-area {
    position: relative;
    padding-bottom: 32px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-text-area .txt-byte {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 11px;
    line-height: 16px;
    color: #ccc;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-text-area .txt-byte span {
    color: #333;
}


.inquiry-modal .modal-body .inquiry-form .inquiry-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row+.inquiry-row {
    margin-top: 16px;
}
.inquiry-modal .modal-body .inquiry-form .inquiry-row .inquiry-cell .check_agree {
    display: inline-block;
    font-size: 14px;
}
label.label_block {
    display: block;
}
label {
    font-size: 16px;
    line-height: 24px;
}
label {
    cursor: default;
}
.inquiry-modal .modal-footer {
    border-top: 1px solid #f4f4f4;
    text-align: center;
    padding-top: 20px;
}
.inquiry-modal {
    overflow: hidden;
    width: 800px;
    height: 690px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
}
.board-container {
    height: 100%;
}